* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.hero-bg img {
  width: 100%;
  margin-top: -16%;
}

.hero-bg-mobile {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  position: absolute;
}

.hero-bg-mobile img {
  width: 100%;
  margin-top: -16%;
}

.container-navbar {
  width: 100%;
  margin: 15px 150px 0px 150px;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-weight: 600;
}

.nav-button-gradient button {
  width: 122px;
  height: 40px;
  background-image: linear-gradient(to right, #326cff, #59ffb9);
  font-size: 16px;
  border-radius: 100px;
  font-weight: 500;
  border: none;
  color: #fff;
  position: relative;
}

.nav-button-gradient button::before {
  content: "";
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #59ffb9, #326cff);
  opacity: 0;
  transition: opacity 0.7s;
}

.nav-button-gradient button:hover::before {
  opacity: 1;
}

.nav-button-gradient button > span {
  position: relative;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.button-warning {
  background-color: #ffc73c;
  transition: 0.5s;
  font-size: 16px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 18px 40px 12px #ffd36759;
  transition: 0.3s;
}

.button-warning:hover {
  background-color: #ff9a3c;
  box-shadow: 0px 18px 40px 12px #ff9a3c40;
}

.card-map {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 582px;
  height: 611px;
  border: none;
}

.maps img {
  width: 100%;
  transition: 0.5s;
}

.maps:hover > img {
  transform: scale(1.1);
}

.maps:hover::before {
  opacity: 1;
}

.maps > * {
  position: relative;
}

.title {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 900;
  text-shadow: 0px 4px 4px #00000040;
}

.title-kanan {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 900;
  text-shadow: 0px 4px 4px #00000040;
}

.card-kanan {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(to left bottom, #59ffb9 -30.09%, #326cff 71.21%);
  width: 582px;
  height: 158px;
  border: none;
}

.card-kanan-3 {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: 582px;
  height: 242px;
  border: none;
}

.card-map::before,
.card-kanan::before,
.card-kanan-3::before {
  content: "";
  position: absolute;
  border-radius: 32px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(89, 255, 185, 0.6),
    #326cff 50%
  );
  opacity: 0;
  transition: opacity 0.7s;
}

.button-daftar a button {
  background-color: #ffc73c;
  transition: 0.5s;
  font-size: 16px;
  border-radius: 100px;
  padding: 10px 25px;
  gap: 10px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 18px 40px 12px #ffd36759;
  transition: 0.3s;
}

.button-daftar a button:hover {
  background-color: #ff9a3c;
  box-shadow: 0px 18px 40px 12px #ff9a3c40;
}

.btn-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 7%;
  background-image: linear-gradient(
    to bottom left,
    rgba(89, 255, 185, 0.6),
    #326cff 60%
  );
}

.sup-parent {
  height: auto;
  margin: auto;
  padding: 20px 0px 60px 0px;
  overflow: hidden;
  position: relative;
}

.sup-slide {
  -webkit-animation: slide 8s linear infinite;
  animation: slide 8s linear infinite;
  display: flex;
  width: calc(291px * 16);
  gap: 20px;
}

.sup-item {
  width: 291px;
  height: 144px;
}

.sup-item img {
  width: 100%;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-291px * 8));
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-291px * 8));
  }
}

/* GALERI START */
.galeri {
  width: 100%;
  height: fit-content;
  padding: 80px 250px 80px 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel-inner {
  border-radius: 50px;
}

.fa-2xl {
  font-size: 4em !important;
}

.img-active div img {
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.img-active div.active img {
  filter: none;
}
/* GALERI END */

/* Berita Start */
.btn-grup {
  width: 27%;
  display: flex;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom left,
    rgba(89, 255, 185, 0.6),
    #326cff 60%
  );
}

.btn-grup a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-grup .active {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 1px solid #fff;
}

.btn-grup a button {
  border: none;
  background: transparent;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding: 10px 20px 10px 20px;
}
/* Berita End */
